<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>

            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label>Título</label>
                    <input name="titulo" type="text" placeholder="Título" class="form-control">
                    <br>
                    <span>Descrição</span>
                    <textarea name="descrição" placeholder="Descreva sua pergunta aqui..." class="form-control" cols="30"
                        rows="10"></textarea>
                    <br>
                    <button class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>